@font-face {
  font-family: 'pokemon';
  src: url('./static/pokemon-font.ttf');
}
.app__container {
  background-color: #f45342;
  color: #ffffff;
  width: 100%;
  font-family: 'pokemon', 'sans-serif';
  font-weight: 100;
  height: 100%;
}